<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sptringboot.main.mapper.TbUserMapper">
  <resultMap id="BaseResultMap" type="com.sptringboot.main.entity.TbUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
  </resultMap>
</mapper>